c_root/objects/blend/*
c_root/output/*
c_root/marin@LAPTOP-J68NV7R7/*
c_root/objects/obj/*
c_root/objects/csv/*

.vscode/settings.json
.vscode/PythonImportHelper-v2-Completion.json
c_root/objects/blend.zip
c_root/blender-3.3.14-linux-x64.tar.xz
c_root/blender-3.4.1-linux-x64.tar.xz
c_root/output/*